
<div class="container">
<h2 class="dark-text"><i class="material-icons">flash_on</i>Admin</h2>
  <div class="row">
      <div class="col s7 push-s5"><span class="flow-text">Total wolf</span>
      	      <table >
        <thead>
          <tr>
              <th data-field="id">Name</th>
              <th data-field="name">Age</th>
              <th data-field="price">Description</th>
          </tr>
        </thead>

        <tbody *ngFor="let bear of bears">
          <tr>
            <td>{{bear.name}}</td>
            <td>{{bear.age}}</td>
            <td>{{bear.description}}</td> 
            <td><a (click)="destroy()" class="waves-effect waves-light btn">Delete</a> </td>    

                 
          </tr>
        </tbody>
      </table>

        <div class="chip">
    {{totalWolf}}
  </div>
 

      </div>
      <div class="col s5 pull-s7"><span class="flow-text">A quick look at the community</span></div>
    </div>