<!-- <div class="container">
  <h3>Top Bears</h3>
<div class="grid grid-pad">
  <div *ngFor="let bear of bears" class="col-1-4">
      <ul>
        <li><a [routerLink]="['/bear', bear._id]">{{bear.name}}</a></li>
        <li>{{bear.age}}</li>
        <li>{{bear.description}}</li>
        <img width="10%" src="{{bear.photo}}"/>
      </ul>

  </div>
</div>
</div> -->
<div class="container">
    <h3>Top Bears</h3>
<!-- <masonry>
   <masonry-brick class="brick" *ngFor="let bear of bears">
    <ul>
       <li><a [routerLink]="['/bear', bear._id]">{{bear.name}}</a></li>
       <li>{{bear.age}}</li>
       <li>{{bear.description}}</li>
       <img class="image materialboxed" width="10%" src="{{bear.photo}}"/>
     </ul></masonry-brick>
 </masonry> -->

 <masonry>
   <masonry-brick class="brick" *ngFor="let bear of bears">

      <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{bear.photo}}">
    </div>
    <div class="card-content">
      <span [routerLink]="['/bear', bear._id]" class="card-title activator grey-text text-darken-4">{{bear.name}}<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
     <ul>
       <li><a >{{bear.name}}</a></li>
       <li>{{bear.age}}</li>
       <li>{{bear.description}}</li>
       <img class="image materialboxed" width="10%" src="{{bear.photo}}"/>
     </ul>
    </div>
  </div>

</masonry-brick>
 </masonry>



 </div>

<!-- <h2>Example body text</h2>
<p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
<p><small>This line of text is meant to be treated as fine print.</small></p>
<p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
<p>The following snippet of text is <em>rendered as italicized text</em>.</p>
<p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
</div> -->
