<!-- <div >
  <a (click)="gotoDetail(bear.id)">Hello</a>
  <h4>{{bear.name}}</h4>
  <h4>{{bear._id}}</h4>
  <h4>{{bear.age}}</h4>
</div> -->
<div class="container">
<div >
  <h2>{{bear.name}} details!</h2>
  <div>
    <label>id: </label>{{bear._id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="bear.name" placeholder="name" />
   </div>
  <!-- <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button> -->
</div>

<a (click)="loadBear()" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
</div>
