<div class="container">
<h1>Form</h1>

<form *ngIf="active"
      (ngSubmit)="onSubmit()"
       class="form-horizontal">
  <fieldset>
    <legend>Legend</legend>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Nom</label>
      <div class="col-lg-10">
        <input  name="name" [(ngModel)]="bear.name"
        type="text" class="form-control" id="nom" placeholder="Nom"/>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Photo</label>
      <div class="col-lg-10">
        <input  name="photo" [(ngModel)]="bear.photo"
        type="text" class="form-control" id="photo" placeholder="Password"/>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Descrition</label>
      <div class="col-lg-10">
        <input  name="age" [(ngModel)]="bear.description"
        type="text" class="form-control" id="description" placeholder="Password"/>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Age</label>
      <div class="col-lg-10">
        <input  name="age" [(ngModel)]="bear.age"
        type="number" class="form-control" id="age" placeholder="Password"/>

      </div>
    </div>
    <p>info : {{bear.age+''+bear.photo+''+bear.name+''+bear.description}}</p>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" (click)="saveBear()" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
</div>
