<div class="glitch-wrapper">
  <div data-text="Wolfsound" class="glitch">Wolfsound<sup>(beta)</sup></div>
</div>
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header">Discover more throught yourself</h1>
      <div class="row center">
        <h5 class="header col s12 light">A modern and cool tool for musicians</h5>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax head"><img src="app/img/background1.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center lime-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Speeds up development</h5>

          <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center lime-text"><i class="material-icons">group</i></h2>
          <h5 class="center">User Experience Focused</h5>

          <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center lime-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy to work with</h5>

          <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
         <p class="light" data-text="
Découvrez une nouvelle expérience musicale et digital. Uploader vos morceau sur notre cloud et laissez notre technologie générer un visuel pour vos morceau. Il s'adapte au rythme et au style musical que vous avez renseigné.
         " class="glitch2">Découvrez une nouvelle expérience musicale et digital. Uploader vos morceau sur notre cloud et laissez notre technologie générer un visuel pour vos morceau. Il s'adapte au rythme et au style musical que vous avez renseigné. </p>

          <p class="light" data-text="
Nous laissons la possibilité de ne mette en ligne qu'un snippets de votre production afin de protéger celle-ci contre les téléchargements illégaux - Vous pouvez aussi proposer des morceaux exclusifs ou entier durant une durée determine à nos abonnés hack the sound. Cela permet de teaser votre communauté sur les nouveautés à venir - Vous pouvez renseigner toute les informations concernant les plateformes d'achat que vous utilisez (amazon, itune, deezer, spotify)
          " class="glitch2">Nous laissons la possibilité de ne mette en ligne qu'un snippets de votre production afin de protéger celle-ci contre les téléchargements illégaux - Vous pouvez aussi proposer des morceaux exclusifs ou entier durant une durée determine à nos abonnés hack the sound. Cela permet de teaser votre communauté sur les nouveautés à venir - Vous pouvez renseigner toute les informations concernant les plateformes d'achat que vous utilisez (amazon, itune, deezer, spotify)</p>
      </div>
    </div>
  </div>
  <div class="parallax middle"><img src="app/img/background2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light"
data-text="
A modern responsive front-end framework based on Material Design" class="glitch2"
        >A modern responsive front-end framework based on Material Design</h5>
      </div>
    </div>
  </div>
  <div class="parallax end"><img src="app/img/background3.jpg" alt="Unsplashed background img 3"></div>
</div>

<footer class="#000000 black page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">What's TROCART ?</h5>
        <p class="grey-text text-lighten-4">
          Trocart is an art dealer website, find and sell art trhought the world !
        </p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Menu</h5>
        <ul>
          <li><a class="white-text" routerLink="/home">Home</a></li>
          <li><a class="white-text" routerLink="/inscription">Login</a></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made with  <i class="material-icons">loyalty</i> by <a class="brown-text text-lighten-3" href="http://theophilevast.fr">Théophile Vast</a>
    </div>
  </div>
</footer>

