<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Parallax Template</h1>
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax head"><img src="app/img/background1.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Speeds up development</h5>

          <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">User Experience Focused</h5>

          <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy to work with</h5>

          <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
    </div>
  </div>
  <div class="parallax middle"><img src="app/img/background2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
    </div>
  </div>
  <div class="parallax end"><img src="app/img/background3.jpg" alt="Unsplashed background img 3"></div>
</div>


<!-- <div class="jumbotron">
<div class="container">
<h1>Jumbotron</h1>
<p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
<p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>
</div>
<section id="services">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">At Your Service</h2>
              <hr class="primary">
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                  <h3>Sturdy Templates</h3>
                  <p class="text-muted">Our templates are updated regularly so they don't break.</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                  <h3>Ready to Ship</h3>
                  <p class="text-muted">You can use this theme as is, or you can make changes!</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                  <h3>Up to Date</h3>
                  <p class="text-muted">We update dependencies to keep things fresh.</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                  <h3>Made with Love</h3>
                  <p class="text-muted">You have to make your websites with love these days!</p>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="bg-primary" id="about">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">We've got what you need!</h2>
              <hr class="light">
              <p class="text-faded">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
              <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
          </div>
      </div>
  </div>
</section>

<section class="no-padding" id="portfolio">
  <div class="container-fluid">
      <div class="row no-gutter popup-gallery">
          <div class="col-lg-4 col-sm-6">
              <a href="app/img/portfolio/fullsize/1.jpg" class="portfolio-box">
                  <img src="app/img/portfolio/thumbnails/1.jpg" class="img-responsive" alt="">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Category
                          </div>
                          <div class="project-name">
                              Project Name
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col-lg-4 col-sm-6">
              <a href="app/img/portfolio/fullsize/2.jpg" class="portfolio-box">
                  <img src="app/img/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Category
                          </div>
                          <div class="project-name">
                              Project Name
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col-lg-4 col-sm-6">
              <a href="app/img/portfolio/fullsize/3.jpg" class="portfolio-box">
                  <img src="app/img/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Category
                          </div>
                          <div class="project-name">
                              Project Name
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col-lg-4 col-sm-6">
              <a href="app/img/portfolio/fullsize/4.jpg" class="portfolio-box">
                  <img src="app/img/portfolio/thumbnails/4.jpg" class="img-responsive" alt="">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Category
                          </div>
                          <div class="project-name">
                              Project Name
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col-lg-4 col-sm-6">
              <a href="app/img/portfolio/fullsize/5.jpg" class="portfolio-box">
                  <img src="app/img/portfolio/thumbnails/5.jpg" class="img-responsive" alt="">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Category
                          </div>
                          <div class="project-name">
                              Project Name
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col-lg-4 col-sm-6">
              <a href="app/img/portfolio/fullsize/6.jpg" class="portfolio-box">
                  <img src="app/img/portfolio/thumbnails/6.jpg" class="img-responsive" alt="">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Category
                          </div>
                          <div class="project-name">
                              Project Name
                          </div>
                      </div>
                  </div>
              </a>
          </div>
      </div>
  </div>
</section>

<aside class="bg-dark">
  <div class="container text-center">
      <div class="call-to-action">
          <h2>Free Download at Start Bootstrap!</h2>
          <a href="http://startbootstrap.com/template-overviews/creative/" class="btn btn-default btn-xl sr-button">Download Now!</a>
      </div>
  </div>
</aside>

<section id="contact">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">Let's Get In Touch!</h2>
              <hr class="primary">
              <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
          </div>
          <div class="col-lg-4 col-lg-offset-2 text-center">
              <i class="fa fa-phone fa-3x sr-contact"></i>
              <p>123-456-6789</p>
          </div>
          <div class="col-lg-4 text-center">
              <i class="fa fa-envelope-o fa-3x sr-contact"></i>
              <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
          </div>
      </div>
  </div>
</section> -->
